body {
	margin: 0;
	padding: 0;
	background-color: #D9D9D9;
	overflow-x: hidden;
}

.topMenu {
	display: inline-flex;
	box-sizing: border-box;
	border-bottom: solid #403734 1.2px;
	background-color: #0D0D0D;
	height: 65px;
	width: 100vw;
	padding: 15px 0px 0px 45px;
}

h1 {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-family: "General Sans";
	font-weight: 600;
	color: #D9D9D9;
	letter-spacing: 1px;
}

button {
	text-decoration: none;
	border: none;
}

.dContainer {
	height: 140px;
}

p, span {
	color: #0D0D0D;
	font-family: "General Sans";
}

.signup {
	margin-left: 0;
	margin-right: 20px;
}

.login {
	margin-left: auto;
}

.login, .signup {
	display: inline-block;
	margin-top: 5px;
	font-family: "General Sans";
	font-size: 14px;
	letter-spacing: 1px;
	background-color: #0D0D0D;
	font-weight: 500;
	color: #D9D9D9;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 8px;
	transition: color 0.2s;
}

.login:hover, .signup:hover {
	color: #A69C98;
}

.container {
	margin-top: 10px;
	padding-bottom: 5px;
	text-align: center;
	border-bottom: solid #403734 1.2px;
}

.cat {
	color: #0D0D0D;
}

.t1 {
	padding-left: 40px;
	padding-bottom: 0;
	margin-bottom: 5px;
	color: #0D0D0D;
	font-size: 22px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	grid-template-rows: 620px;
	padding: 10px 0 0 30px;
	margin-bottom: 40px;
}

.card {
	border: solid #A69C98 1.2px;
	width: 350px;
	height: 595px;
	margin: 15px 0 0 0px;
	border-radius: 8px;
	text-align: center;
	transition: transform 0.2s;
}

.card:hover {
	transform: scale(1.025);
}

h3 {
	font-family: "General Sans";
	font-weight: 500;
	color: #D9D9D9;
	background-color: #0D0D0D;
	letter-spacing: 1px;
	font-size: 20px;
	line-height: 30px;
	margin: 0 10px 0 15px;
	border-radius: 8px;
	text-align: center;
}


.cardDesc {
	padding: 0 10px 0 15px;
	text-align: start;
	margin-top: 35px;
}

.cardPrice {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	border-top: solid #A69C98 1.2px;
}

.priceS {
	padding: 10px 10px 0px 30px;
	display: inline-block;
	text-align: left;
	font-size: 26px;
}

.cardB {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-family: "General Sans";
	background-color: #0D0D0D;
	color: #D9D9D9;
	font-weight: 500;
	font-size: 18px;
	margin: 0;
	height: 50px;
	width: 195px;
	border-bottom-right-radius: 8px;
	transition: background-color 0.2s, color 0.2s;
}

.cardB:hover {
	background-color: #403734;
}

.cardI {
	width: 300px;
	height: 300px;
	text-align: center;
}

.lContainer {
	display: flexbox;
	justify-self: center;
	margin-top: 100px;
	width: 320px;
	height: 350px;
	padding: 10px 10px 10px 10px;
}

.r1 {
	color: #0D0D0D;
	background-color: transparent;
	font-size: 22px;
	border-radius: 0;
	font-weight: 500;
	margin-bottom: 30px;
}

label {
	text-align: start;
	display: block;
	font-family: "General Sans";
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 5px;
	color: #403734;
}

input {
	text-decoration: none;
	width: 90%;
	height: 38px;
	border-radius: 8px;
	background-color: transparent;
	border: solid 1.2px #A69C98;
	font-size: 18px;
	font-family: "General Sans";
	font-weight: 400;
	padding: 0 15px 0 15px;
	margin-bottom: 20px;
}

input:focus {
	outline-style: solid;
	outline-color: #403734;
}

.loginCheck {
	width: 100%;
	height: 40px;
	border-radius: 8px;
	font-family: "General Sans";
	font-weight: 500;
	color: #D9D9D9;
	background-color: #0D0D0D;
	transition: background-color 0.2s;
	margin-bottom: 15px;
}

.loginCheck:hover {
	background-color: #403734;
}

.crossline {
	width: 100%;
	text-align: center;
	border-bottom: solid 1.2px #A69C98;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

.or {
	padding: 0 10px;
	background-color: #D9D9D9;
	font-family: "General Sans";
	font-size: 14px;
	font-weight: 400;
}

.gContainer {
	display: flex;
	margin-right: 10px;
}

.gimg {
	width: 17px;
	height: 17px;
}

.loginGoogle {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 40px;
	border-radius: 8px;
	font-family: "General Sans";
	font-weight: 500;
	color: #0D0D0D;
	background-color: #CEE0DD;
	border: solid 1.2px #A69C98;
	transition: background-color 0.2s;
	margin-top: 30px;
	margin-bottom: 25px;
	padding: 12px;
	transition: background-color 0.2s;
}

.loginGoogle:hover {
	background-color: #CADBD8;
}

.newAcc {
	margin-top: 25px;
	text-align: center;
	font-size: 15px;
}

a {
	text-decoration: none;
	color: #006891;
}

a:hover {
	text-decoration: underline;
}