<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
	<meta charset="UTF-8" />
	<title>Retro PC shop</title> 
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<script th:src="@{/js/login.js}" defer></script>
</head>
<body>
	<div class="topMenu">
		<h1>Retro Comp</h1>
		<button class="login">Log in</button>
		<button class="signup">Sign up</button>
	</div>

	<div class="container">
		<h1 class="cat">Catalog</h1>
	</div>
	<div class="cards">
		<div class="card" th:each="p : ${products}">
			<img th:if="${p.imageUrl}" th:src="${p.imageUrl}" class="cardI"/>
			<div class="cardBody">
				<h3 class="cardTitle" th:text="${p.name}">Название</h3>
				<div class="dContainer">
					<p class="cardDesc" th:text="${p.description}">Описание</p>
				</div>
				<div class="cardPrice">
					<span class="priceS" th:text="${p.price} + ' $'">0 $</span>
					<button class="cardB">Buy</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>